{% extends "layout.html" %}
{% block body %}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{{url_for('static',filename='images/bg_1.jpg')}}')" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <h1 class="mb-3 bread">Music</h1>
          <!-- <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About <i class="ion-ios-arrow-forward"></i></span></p> -->
        </div>
      </div>
    </div>
  </section>


<h3>Listen to some chilling music</h3>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<audio controls autoplay><p> &rarr; Local Music</p>
    <source src="{{url_for('static',filename='audio/music1.mp3')}}" type="audio/mp3">
    <source src="{{url_for('static',filename='audio/music2.mp3')}}" type="audio/mp3">
    Your browser does not support audio.
</audio>
<h4>Listen to 92.7 Big FM Radio</h4>
<audio controls>
    <source src="https://radioindia.net/radio/sc-bb/icecast.audio" type="audio/mpeg">
    Your browser does not support audio.
</audio>



{% endblock %}